/*-------- CARDS --------*/

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  height: 100%;
  max-width: 50rem;
  padding: 1rem;
  background-color: white;
  -webkit-box-shadow: -1px 5px 28px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 5px 28px 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 5px 28px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  transition: 0.3s ease-in-out;
}

.img-content {
  width: 100%;
}

.image {
  min-width: 15rem;
  max-width: 15rem;
  height: 15rem;
  transform: translateX(-2.5rem);
  position: relative;
}

.image .img-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.image .img-content::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
  box-sizing: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
}

/*-------- TEXT --------*/

.info {
  width: 100%;
  height: 100%;
}

.tags {
  font-size: 16px;
  color: rgb(128, 128, 128);
  line-height: 1.6;
}

.title {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: black;
}

.text {
  height: 2rem;
  margin-bottom: 4rem;
  font-size: 1rem;
  color: black;
}

.links {
  text-align: right;
  float: right;
  text-transform: uppercase;
  font-weight: bold;
}

/*-------- NAV ANIMATIONS --------*/
.nav-anim {
  color: black;
  text-decoration: none;
  display: block;
  position: relative;
  transition: 0.3s ease-in-out;
}

.nav-anim:hover {
  opacity: 0.5;
}

.error {
  vertical-align: baseline;
}

.view-more-cta {
  text-align: center;
  display: inline-block;
  color: #000;
  margin-top: -15px;
  text-decoration: none;
}
.view-more-cta::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.view-more-cta:hover::after {
  width: 100%;
}

@media screen and (max-width: 1068px) {
  .card {
    max-width: 40rem;
    padding: 1rem;
  }

  .image {
    min-width: 15rem;
    max-width: 15rem;
  }
}

@media screen and (max-width: 868px) {
  .card {
    max-width: 34rem;
    padding: 1rem;
  }

  .image {
    min-width: 15rem;
    max-width: 15rem;
  }
}

@media screen and (max-width: 668px) {
  /* mobile */
  .card {
    flex-direction: column;
    max-width: 17rem;
    padding-bottom: 1.5em;
  }

  .image {
    min-width: 100%;
    max-width: 100%;
    height: 15rem;
    transform: translate(0, -3rem);
    margin-bottom: -15px;
  }

  .projects-title {
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  /* mobile */
  .card {
    flex-direction: column;
    max-width: 14.5rem;
  }
}
