/*-------- Global --------*/
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-family: "Roboto", sans-serif;
  color: #454545;
  font-size: 18px;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  color: #000000;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: #000000;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  color: #000000;
  line-height: 1.2;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}

li {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin-bottom: 9px;
}

ul {
  margin-left: 18px;
  margin-top: 18px;
}

figcaption {
  margin-top: 14px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #637381;
}

mark {
  background-color: #d4f0ff;
  color: black;
}

@media (max-width: 900px) {
  .shortcuts {
    display: none;
  }
}
.normalWidth {
  width: 90%;
  margin: auto;
  max-width: 950px;
}

.projects-wrapper {
  padding-top: 5em;
}

.social-media {
  padding-top: 5px;
}

.social-media svg {
  cursor: pointer;
  margin-right: 12px;
}
.social-media svg:hover {
  fill: black;
}

/*-------- BUTTON --------*/
.projects-button {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
  height: 50px;
  width: 200px;
  color: white;
  background-color: black;
}

/*-------- NAV --------*/
.nav {
  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.shortcuts {
  font-size: 18px;
  flex: 1;
  text-align: right;
}

.shortcuts a {
  margin-left: 25px;
  text-decoration: none;
}

.link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}
.link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.link:hover::after {
  width: 100%;
}

.home a {
  flex: 1;
  text-decoration: none;
}

/*-------- CONTAINERS --------*/

.work-container {
  max-width: 980px;
  margin: 5px auto 0 auto;
}

.work {
  padding: 20px;
  box-sizing: border-box;
  flex-basis: 50%;
}

@media (min-width: 900px) {
  .work-container {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .work-container {
    max-width: 950px;
  }
}

/* ----- ABOUT ------ */
.about-wrapper {
  margin-top: 2em;
}

footer {
  text-align: center;
  padding: 80px 0px 25px;
}

.header-info {
  margin-bottom: 3rem;
}
