.contact-wrapper {
  margin-top: 3em;
  text-align: center;
}

.contact-wrapper a {
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  padding: 3px;
  border-bottom: 3px solid black;
  transition: 0.1s ease-in-out;
}

.contact-wrapper a:hover {
  border-bottom: 0px solid black;
}
