img {
  width: 100%;
}

.projects-title {
  margin-bottom: 0.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 50rem;
  padding: 1rem;
  background-color: white;
  -webkit-box-shadow: -1px 5px 28px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 5px 28px 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 5px 28px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-9px) scale(1.005) translateZ(0);
}

.image {
  min-width: 15rem;
  max-width: 15rem;
  height: 15rem;
  transform: translateX(-2.5rem);
  position: relative;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.image img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
  box-sizing: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.8rem;
}

.title {
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem;
  text-transform: uppercase;
  color: black;
}

.text {
  margin-bottom: 3rem;
  font-size: 1rem;
  color: black;
}

.cta {
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: white;
  background-color: red;
  border-radius: 0.8rem;
  text-decoration: none;
}

@media screen and (max-width: 1068px) {
  .card {
    max-width: 40rem;
    padding: 1rem;
  }

  .image {
    min-width: 15rem;
    max-width: 15rem;
  }
}

@media screen and (max-width: 868px) {
  .card {
    max-width: 34rem;
    padding: 1rem;
  }

  .image {
    min-width: 15rem;
    max-width: 15rem;
  }
}

@media screen and (max-width: 668px) {
  /* mobile */
  .card {
    flex-direction: column;
    max-width: 17rem;
  }

  .image {
    min-width: 100%;
    max-width: 100%;
    height: 15rem;
    transform: translate(0, -3rem);
  }
  .projects-title {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  /* mobile */
  .card {
    flex-direction: column;
    max-width: 14.5rem;
  }
}
